Hi,
<br><br>
Your feed from <%= meta_title %> is here.<br><br>
<b><%= title %></b><br>
<%= link %><br>
<%= description %><br>
<br>
Make sure to complete it before you get the next one.
<br><br>
Happy Reading :)
<br><br>
<small><a href="<%= unsubscribe_link %>">Click to unsubscribe</a></small>
